.app-sidebar__user-avatar {
    width: 50px;
    background: gray;
    padding: 6px;
}

.app-sidebar__toggle {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15pt;
}

.headerRegister {
    background: #ba54c5;
    color: white;
}

.headerUpdate {
    background: #f2f3a7;
    color: white;
}